* {
    font-size: 62.5%;
    margin: 0;
    box-sizing: border-box;

}

html {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(20, 20, 145), black);
    color: white;
}

.encabezado {
    text-align: center;
    padding: 2rem 0rem;
    font-size: 10rem;
    background-color: black;
}

.contenedor1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-size: 4rem;
}

.contenedor-cartas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarjetita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    padding: 5rem;
    background-color: lightblue;
    margin: 3rem;
    width: 40rem;
    height: 40rem;
}

.nombrePelicula {
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem 0;
    font-weight: bold;
    font-size: 5.5rem;
}

.boton-votos {
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
    background-color: green;
    color: white;
    width: 15rem;
    height: 5rem;
    margin: 1rem 0;
}

.boton-eliminar {
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
    background-color: red;
    color: white;
    width: 15rem;
    height: 5rem;
    margin: 1rem 0;
}

.cantidadVotos {
    padding: 1rem 0;
}

.containerTopFilm {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    border-bottom: 0.1rem solid black;
    background: linear-gradient(to bottom, rgb(73, 0, 73), black);
    padding: 3rem 0;

}

.cuandoNoHayPeliculas {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    margin: 3rem 0;
    border-bottom: 0.1rem solid black;
}

.d-none {
    display: none;
}

.ingreso {
    height: 5rem;
    width: 60rem;
    font-size: 3rem;
}

.botonAgregar {
    height: 5rem;
    width: 20rem;
    font-size: 3rem;
    background-color: rgb(40, 40, 193);
    color: white;
}